@import "mixins.sass"

#intro
  +columnify

  > h1
    margin: 7px 0
    @media screen and (max-width: 650px)
      font-size: calc(.5vw + .5vh + 1.2em)
    @media screen and (min-width: 650px)
      font-size: calc(1vw + 1vh + 1.4em)

  > p
    +responsive-font(.9em)

  @import "footer.sass"