@import 'mixins.sass'

#indexpage  
  height: 100vh
  display: grid
  @media (min-width: 651px)
    grid-template-columns: 5fr 3fr
    grid-gap: 2vw
  @media (max-width: 650px)
    grid-template-rows: 3fr 1fr
  @media (max-height: 500px) and (max-width: 650px)
    height: 110vh
    grid-template-rows: 5fr 2fr
    grid-gap: 5vh

  .fab, #intro > p
    color: beige

  h1, 
  p,
  ul
    padding: 0 5vw
    text-align: left

  @import 'social.sass'
  @import 'intro.sass'


  /* ANIMATIONS */

  animation:
    name: bg-color-change
    duration: 20s
    timing-function: ease-out
    iteration-count: infinite

  .colored
    animation:
      name: color-change
      duration: 20s
      timing-function: ease-out
      iteration-count: infinite

  .fab
    animation: 
      name: social-color-change
      duration: 20s
      timing-function: ease-out
      iteration-count: infinite      

@keyframes bg-color-change
  0%
    background-color: $cutegrey
  30%
    background-color: #172831
  60%
    background-color: #172831
  100%
    background-color: $cutegrey

@keyframes social-color-change
  0%
    color: $cutegrey
  30%
    color: #172831
  60%
    color: #172831
  100%
    color: $cutegrey



@keyframes color-change
  0%
    color: $cutered
  30%
    color: #009ef5
  60%
    color: #009ef5
  100%
    color: $cutered