@import "mixins.sass"

#projectspage
  background: beige
  padding: 5vh 0
  @media (max-height: 900px) and (min-width: 365px)
    padding: 7vh 3vw
  @media (min-height: 900px)
    padding: 5vh 3vw

  a
    color: $cutered

  > h2.heading
    text-align: center
    margin-bottom: 5vh
    +responsive-font(1.8em)

  > .mark
    +responsize-width
    +responsive-font(1em)
    background-color: bisque
    margin: 7vh auto
    padding: 6px
    border-radius: 5px
    box-shadow: inset 0px 0px 10px #000

  > #projects
    display: grid
    grid-template-rows: auto auto
    @media (max-height: 900px)
      grid-gap: 7vh
    @media (min-height: 900px)
      grid-gap: 8vh

    > .project
      +responsize-width
      background-color: #ffe
      margin: 0 auto
      padding: 10px 3vw
      border-radius: 6px
      box-shadow: inset 0px 0px 16px #000

      > h3
        color: $cutegrey
        margin: 3vh auto
        text-align: center
        +responsive-font(1.4em)

      > .links 
        display: flex
        justify-content: center
        margin: 2vh auto
        width: 60%

        > a
          margin: 0 12px
          @media (max-width: 800px)
            margin: 0 7px
          color: $cutered
          &:hover
            color: darken($cutered, 20)
          line-height: 1
          +responsive-font-lvar(15px)
          font-family:  Ubuntu, "Open sans", Roboto, sans-serif

          > i
            font-size: calc(.3vh + .2vw + .6em)

      > p
        +responsive-font(.9em)
        border-radius: 6px
        background-color: rgba(0, 0, 0, 0.05)
        padding: 6px
      
      img
        width: 100%  
