@import "mixins.sass"
  
#social
  +columnify
  background-color: beige

  > p
    margin-bottom: 4px
    font-size: calc(.5vw + .5vh + 1em)
      
  ul
    display: flex
    flex-flow: row wrap
    overflow-y: hidden
    align-items: center
    li
      padding: 1vh calc(.5vw + 4px)
      @media screen and (min-width: 800px)
        margin: calc(.3vw + 8px)
      @media screen and (max-width: 800px)
        margin: calc(.5vw + 5px)

    i
      @media screen and (min-width: 800px)
        font-size: calc(.3vw + .3vh + 2.5em)
      @media screen and (max-width: 800px)
        font-size: calc(.3vw + .2vh + 2em)
      transition:
        duration: .4s
        timing-function: cubic-bezier(0.38, 0.37, 0.64, 1.27)
        
      &:hover
        color: #1e1e1e