@import url("https://fonts.googleapis.com/css?family=Itim|Delius+Swash+Caps");
#indexpage {
  height: 100vh;
  display: grid;
  /* ANIMATIONS */
  animation-name: bg-color-change;
  animation-duration: 20s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; }
  @media (min-width: 651px) {
    #indexpage {
      grid-template-columns: 5fr 3fr;
      grid-gap: 2vw; } }
  @media (max-width: 650px) {
    #indexpage {
      grid-template-rows: 3fr 1fr; } }
  @media (max-height: 500px) and (max-width: 650px) {
    #indexpage {
      height: 110vh;
      grid-template-rows: 5fr 2fr;
      grid-gap: 5vh; } }
  #indexpage .fab, #indexpage #intro > p {
    color: beige; }
  #indexpage h1,
  #indexpage p,
  #indexpage ul {
    padding: 0 5vw;
    text-align: left; }
  #indexpage #social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige; }
    #indexpage #social > p {
      margin-bottom: 4px;
      font-size: calc(.5vw + .5vh + 1em); }
    #indexpage #social ul {
      display: flex;
      flex-flow: row wrap;
      overflow-y: hidden;
      align-items: center; }
      #indexpage #social ul li {
        padding: 1vh calc(.5vw + 4px); }
        @media screen and (min-width: 800px) {
          #indexpage #social ul li {
            margin: calc(.3vw + 8px); } }
        @media screen and (max-width: 800px) {
          #indexpage #social ul li {
            margin: calc(.5vw + 5px); } }
      #indexpage #social ul i {
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(0.38, 0.37, 0.64, 1.27); }
        @media screen and (min-width: 800px) {
          #indexpage #social ul i {
            font-size: calc(.3vw + .3vh + 2.5em); } }
        @media screen and (max-width: 800px) {
          #indexpage #social ul i {
            font-size: calc(.3vw + .2vh + 2em); } }
        #indexpage #social ul i:hover {
          color: #1e1e1e; }
  #indexpage #intro {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #indexpage #intro > h1 {
      margin: 7px 0; }
      @media screen and (max-width: 650px) {
        #indexpage #intro > h1 {
          font-size: calc(.5vw + .5vh + 1.2em); } }
      @media screen and (min-width: 650px) {
        #indexpage #intro > h1 {
          font-size: calc(1vw + 1vh + 1.4em); } }
    @media screen and (max-width: 650px) {
      #indexpage #intro > p {
        font-size: calc(.2vw + .3vh + 0.9em); } }
    @media screen and (min-width: 650px) {
      #indexpage #intro > p {
        font-size: calc(.2vw + .3vh + 1.1em); } }
  #indexpage .colored {
    animation-name: color-change;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite; }
  #indexpage .fab {
    animation-name: social-color-change;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite; }

@keyframes bg-color-change {
  0% {
    background-color: #161717; }
  30% {
    background-color: #172831; }
  60% {
    background-color: #172831; }
  100% {
    background-color: #161717; } }
@keyframes social-color-change {
  0% {
    color: #161717; }
  30% {
    color: #172831; }
  60% {
    color: #172831; }
  100% {
    color: #161717; } }
@keyframes color-change {
  0% {
    color: #d71001; }
  30% {
    color: #009ef5; }
  60% {
    color: #009ef5; }
  100% {
    color: #d71001; } }
#projectspage {
  background: beige;
  padding: 5vh 0; }
  @media (max-height: 900px) and (min-width: 365px) {
    #projectspage {
      padding: 7vh 3vw; } }
  @media (min-height: 900px) {
    #projectspage {
      padding: 5vh 3vw; } }
  #projectspage a {
    color: #d71001; }
  #projectspage > h2.heading {
    text-align: center;
    margin-bottom: 5vh; }
    @media screen and (max-width: 650px) {
      #projectspage > h2.heading {
        font-size: calc(.2vw + .3vh + 1.8em); } }
    @media screen and (min-width: 650px) {
      #projectspage > h2.heading {
        font-size: calc(.2vw + .3vh + 2em); } }
  #projectspage > .mark {
    max-width: 900px;
    background-color: bisque;
    margin: 7vh auto;
    padding: 6px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000; }
    @media (min-width: 650px) {
      #projectspage > .mark {
        width: 80%; } }
    @media (max-width: 650px) {
      #projectspage > .mark {
        width: 90%; } }
    @media screen and (max-width: 650px) {
      #projectspage > .mark {
        font-size: calc(.2vw + .3vh + 1em); } }
    @media screen and (min-width: 650px) {
      #projectspage > .mark {
        font-size: calc(.2vw + .3vh + 1.2em); } }
  #projectspage > #projects {
    display: grid;
    grid-template-rows: auto auto; }
    @media (max-height: 900px) {
      #projectspage > #projects {
        grid-gap: 7vh; } }
    @media (min-height: 900px) {
      #projectspage > #projects {
        grid-gap: 8vh; } }
    #projectspage > #projects > .project {
      max-width: 900px;
      background-color: #ffe;
      margin: 0 auto;
      padding: 10px 3vw;
      border-radius: 6px;
      box-shadow: inset 0px 0px 16px #000; }
      @media (min-width: 650px) {
        #projectspage > #projects > .project {
          width: 80%; } }
      @media (max-width: 650px) {
        #projectspage > #projects > .project {
          width: 90%; } }
      #projectspage > #projects > .project > h3 {
        color: #161717;
        margin: 3vh auto;
        text-align: center; }
        @media screen and (max-width: 650px) {
          #projectspage > #projects > .project > h3 {
            font-size: calc(.2vw + .3vh + 1.4em); } }
        @media screen and (min-width: 650px) {
          #projectspage > #projects > .project > h3 {
            font-size: calc(.2vw + .3vh + 1.6em); } }
      #projectspage > #projects > .project > .links {
        display: flex;
        justify-content: center;
        margin: 2vh auto;
        width: 60%; }
        #projectspage > #projects > .project > .links > a {
          margin: 0 12px;
          color: #d71001;
          line-height: 1;
          font-family: Ubuntu, "Open sans", Roboto, sans-serif; }
          @media (max-width: 800px) {
            #projectspage > #projects > .project > .links > a {
              margin: 0 7px; } }
          #projectspage > #projects > .project > .links > a:hover {
            color: #710801; }
          @media (max-width: 365px) {
            #projectspage > #projects > .project > .links > a {
              font-size: 17px; } }
          @media (max-width: 650px) and (min-width: 365px) {
            #projectspage > #projects > .project > .links > a {
              font-size: 19px; } }
          @media (min-width: 650px) {
            #projectspage > #projects > .project > .links > a {
              font-size: calc(.2vw + .3vh + 15px); } }
          #projectspage > #projects > .project > .links > a > i {
            font-size: calc(.3vh + .2vw + .6em); }
      #projectspage > #projects > .project > p {
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 6px; }
        @media screen and (max-width: 650px) {
          #projectspage > #projects > .project > p {
            font-size: calc(.2vw + .3vh + 0.9em); } }
        @media screen and (min-width: 650px) {
          #projectspage > #projects > .project > p {
            font-size: calc(.2vw + .3vh + 1.1em); } }
      #projectspage > #projects > .project img {
        width: 100%; }

html, body, p, ol, ul, li, blockquote, pre, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

body {
  position: relative; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

iframe {
  border: 0; }

a {
  text-decoration: none; }

.heading {
  font-family: "Delius Swash Caps", cursive;
  color: #d71001;
  font-weight: 700;
  letter-spacing: 1.5px; }

.monospace {
  font-family: Courier New, Courier, monospace; }

h1::selection, h2::selection, h3::selection, p::selection, a::selection {
  color: beige;
  background-color: #3f0500; }

a {
  color: inherit; }

.itim {
  font-family: Itim;
  font-weight: 500;
  letter-spacing: 2.4px;
  line-height: 1.2; }

/*# sourceMappingURL=index.css.map */
