@import url('https://fonts.googleapis.com/css?family=Itim|Delius+Swash+Caps')
@import "sass/landing-pg.sass"
@import "sass/projects.sass"

html, body, p, ol, ul, li, blockquote, pre, hr, h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0

ul
  list-style: none

button, input, select, textarea
  margin: 0

html
  box-sizing: border-box

body
  position: relative

*
  box-sizing: inherit
  &:before, &:after
    box-sizing: inherit

iframe
  border: 0

a
  text-decoration: none

.heading
  font-family: "Delius Swash Caps", cursive
  color: $cutered
  font-weight: 700
  letter-spacing: 1.5px

.monospace
  font-family: Courier New, Courier, monospace

h1, h2, h3, p, a
  &::selection
    color: beige
    background-color: darken($cutered, 30)

a
  color: inherit

.itim
  font-family: Itim
  font-weight: 500
  letter-spacing: 2.4px
  line-height: 1.2